<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloApp">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chofer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>

      <ion-card-header>
        <ion-card-title style="color: #FF8C00;">Programación del Viaje</ion-card-title>
        <ion-card-subtitle>¡Gracias por compartir el auto y ayudar a reducir la huella de carbono 🌍🚗,
          {{this.username}}!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="border-radius: 12px;">
          <ion-item>
            <form class="example-form" style="width: 100%;">
              <mat-form-field appearance="fill" class="example-full-width" style="width: 100%;">
                <mat-label>Dirección de partida</mat-label>
                <input type="text"
                      matInput
                      [formControl]="direccionControlPartida"
                      [matAutocomplete]="autoPartida"
                      [(ngModel)]="direccion">
                <mat-autocomplete #autoPartida="matAutocomplete" (optionSelected)="seleccionarDireccionPartida($event.option.value)">
                  <mat-option *ngFor="let opcion of direcciones" [value]="opcion.place_name">
                    {{ opcion.place_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </ion-item>
          
          <ion-item>
            <form class="example-form" style="width: 100%;">
              <mat-form-field appearance="fill" class="example-full-width" style="width: 100%;">
                <mat-label>Dirección de destino</mat-label>
                <input type="text"
                      matInput
                      [formControl]="direccionControlDestino"
                      [matAutocomplete]="autoDestino"
                      [(ngModel)]="direccionDestino">
                <mat-autocomplete #autoDestino="matAutocomplete" (optionSelected)="seleccionarDireccionDestino($event.option.value)">
                  <mat-option *ngFor="let opcion of direcciones" [value]="opcion.place_name">
                    {{ opcion.place_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </ion-item>
          <ion-item>
            <ion-input label="Hora de Salida" labelPlacement="floating"
              placeholder="Ingrese la hora de salida"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Asientos disponibles" labelPlacement="floating"
              placeholder="Ingrese el número de asientos por persona"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Precio por persona" labelPlacement="floating"
              placeholder="Ingrese el precio por persona"></ion-input>
          </ion-item>

          <div id="map-container">
            <div class="map" id="mapa-box" tabindex="0">

            </div>
          </div>

          <div id="cont-botones">
            <ion-button style="margin-right: 20px;" >Limpiar</ion-button>
            <ion-button (click)="guardarViaje()">Guardar viaje</ion-button>
          </div>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>