#map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 40vh; // Ajusta esto para controlar la altura total de tu mapa --> SE BUGUEA! PEDIR AYUDA
    padding-top: 0; // Puedes ajustar esto o eliminarlo si no necesitas espacio adicional arriba
    margin-top: 20px; // Para separar un poco del contenido superior
}

#mapa-box {
    width: 90%;
    height: 100%;
    border-radius: 12px;
}

.map {
    width: 100%;
    height: 100%;
}