// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// src/theme/variables.scss

:root {
    --ion-background-color: #000000;   // Fondo negro
    --ion-color-primary: #FF8C00;      // Naranja oscuro
    --ion-color-primary-contrast: black; // Contraste del color principal (texto blanco)
  }