<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloApp">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pasajero</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #FF8C00;">Viajes Disponibles</ion-card-title>
        <ion-card-subtitle>¡Gracias por ayudar a reducir la huella de carbono 🌍🚗, {{username}}!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item style="border-radius: 12px;">
          <ion-label>Selecciona un Viaje</ion-label>
          <ion-select [(ngModel)]="selectedViaje">
            <ion-select-option *ngFor="let viaje of items" [value]="viaje" style="color: #FF8C00;">
              {{ viaje.destino }} - ${{ viaje.tarifa }}. Asientos disponibles: {{ viaje.asientosDisp }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Mostrar detalles del viaje seleccionado -->
        <ion-item *ngIf="selectedViaje" style="border-radius: 12px;">
          <ion-label>
            <h2>Detalles del Viaje</h2>
            <p>Destino: {{ selectedViaje.destino }}</p>
            <p>Asientos disponibles: {{ selectedViaje.asientosDisp }}</p>
            <p>Tarifa: ${{ selectedViaje.tarifa }}</p>
          </ion-label>
        </ion-item>

        <div id="cont-botones" style="text-align: center; align-items: center;">
          <div>
            <ion-button>Continuar</ion-button>
          </div>
        </div>
      </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>
